<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Orion.PorCentro" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Orion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Orion.Convenio" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <userSettings>
    <Orion.PorCentro>
      <setting name="LunDelArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LunAlArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VieDelArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VieAlArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SabDelArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SabAlArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DomDelArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DomAlArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LunDelBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LunAlBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VieDelBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VieAlBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SabDelBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SabAlBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DomDelBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DomAlBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LunDelDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LunAlDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VieDelDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VieAlDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SabDelDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SabAlDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DomDelDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DomAlDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LunDelVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LunAlVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VieDelVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VieAlVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SabDelVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SabAlVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DomDelVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DomAlVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ComodinArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ComodinBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ComodinDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ComodinVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PagarLimpiezasArrasate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PagarLimpiezasBilbao" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PagarLimpiezasDonosti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PagarLimpiezasVitoria" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumeroLimpiezasArrasate" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="NumeroLimpiezasBilbao" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="NumeroLimpiezasDonosti" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="NumeroLimpiezasVitoria" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="PlusViajeArrasate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlusViajeBilbao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlusViajeDonosti" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlusViajeVitoria" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PagarPlusViajeArrasate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PagarPlusViajeBilbao" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PagarPlusViajeDonosti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PagarPlusViajeVitoria" serializeAs="String">
        <value>False</value>
      </setting>
    </Orion.PorCentro>
    <Orion.Properties.Settings>
      <setting name="CarpetaDatos" serializeAs="String">
        <value/>
      </setting>
      <setting name="CentroInicial" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ColorOV" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="ColorJD" serializeAs="String">
        <value>Magenta</value>
      </setting>
      <setting name="ColorDS" serializeAs="String">
        <value>Brown</value>
      </setting>
      <setting name="ColorDC" serializeAs="String">
        <value>DarkViolet</value>
      </setting>
      <setting name="ColorF6" serializeAs="String">
        <value>Chocolate</value>
      </setting>
      <setting name="CarpetaAyuda" serializeAs="String">
        <value/>
      </setting>
      <setting name="TopCalculadora" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftCalculadora" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BotonCalculadoraActivo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value/>
      </setting>
      <setting name="ColorE" serializeAs="String">
        <value>0, 192, 192</value>
      </setting>
      <setting name="CarpetaDropbox" serializeAs="String">
        <value/>
      </setting>
      <setting name="SincronizarEnDropbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CarpetaInformes" serializeAs="String">
        <value>Informes</value>
      </setting>
      <setting name="AbrirPDFs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CarpetaCopiasSeguridad" serializeAs="String">
        <value/>
      </setting>
      <setting name="CopiaAutomatica" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UltimaCopia" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="ContraseñaDatos" serializeAs="String">
        <value>n0xvPn6v0UQ=</value>
      </setting>
      <setting name="SoloAñoActualEnGruposGraficos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MostrarGrafNoCalcular" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MostrarGrafDescuadres" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MostrarGrafHoras" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MostrarGrafDietas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MostrarGrafPlusLimpieza" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MostrarGrafPlusPaqueteria" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MostrarGrafTiempoPartido" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ActualizarSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CarpetaOrigenActualizar" serializeAs="String">
        <value/>
      </setting>
      <setting name="ActualizarPrograma" serializeAs="String">
        <value>False</value>
      </setting>
    </Orion.Properties.Settings>
    <Orion.Convenio>
      <setting name="JornadaMedia" serializeAs="String">
        <value>07:20:00</value>
      </setting>
      <setting name="ImporteDietas" serializeAs="String">
        <value>14.49</value>
      </setting>
      <setting name="InicioNocturnas" serializeAs="String">
        <value>22:00:00</value>
      </setting>
      <setting name="FinalNocturnas" serializeAs="String">
        <value>06:00:00</value>
      </setting>
      <setting name="HoraDesayuno" serializeAs="String">
        <value>06:00:00</value>
      </setting>
      <setting name="PorcentajeDesayuno" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="InicioComidaContinuo" serializeAs="String">
        <value>12:30:00</value>
      </setting>
      <setting name="FinalComidaContinuo" serializeAs="String">
        <value>15:30:00</value>
      </setting>
      <setting name="InicioComidaPartido" serializeAs="String">
        <value>11:45:00</value>
      </setting>
      <setting name="FinalComidaPartido" serializeAs="String">
        <value>15:15:00</value>
      </setting>
      <setting name="InicioCena" serializeAs="String">
        <value>22:00:00</value>
      </setting>
      <setting name="FinalCena" serializeAs="String">
        <value>23:00:00</value>
      </setting>
      <setting name="InicioPlusCena" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="PorcentajePlusCena" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MaxHorasCobradas" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="TrabajoAnuales" serializeAs="String">
        <value>225</value>
      </setting>
      <setting name="DescansosAnuales" serializeAs="String">
        <value>109</value>
      </setting>
      <setting name="VacacionesAnuales" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="ImporteFestivos" serializeAs="String">
        <value>41.12</value>
      </setting>
      <setting name="ImporteSabados" serializeAs="String">
        <value>5.14</value>
      </setting>
      <setting name="DietaMenorDescanso" serializeAs="String">
        <value>8.69</value>
      </setting>
      <setting name="PlusLimpieza" serializeAs="String">
        <value>9.83</value>
      </setting>
      <setting name="PlusPaqueteria" serializeAs="String">
        <value>7.63</value>
      </setting>
      <setting name="MaxHorasLaborables" serializeAs="String">
        <value>08:30:00</value>
      </setting>
      <setting name="MaxHorasFinesSemana" serializeAs="String">
        <value>09:00:00</value>
      </setting>
      <setting name="PlusNocturnidad" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="PlusNavidad" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MaxHorasTotalGraficoPartido" serializeAs="String">
        <value>10:00:00</value>
      </setting>
      <setting name="MaxHorasParticionGraficoPartido" serializeAs="String">
        <value>03:00:00</value>
      </setting>
    </Orion.Convenio>
  </userSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite;.EF6" type="System.Data.SQLite;.EF6.SQLiteProviderServices, System.Data.SQLite;.EF6"/>
    </providers>
  </entityFramework>

</configuration>
